.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.template-i39f {
    padding: 6px 12px 6px 12px;
    width: 450px;
}

.label {
    color: #000000;
    font-size: 15px;
}